<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 401</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-[100vh] bg-[#ffa820] flex flex-col items-center justify-center">
        <a href="/" class="float-left m-[10px] text-[30px] text-[white]">Volver al inicio</a>
        <img class=" w-[70%] h-[70%]" src="https://cdni.iconscout.com/illustration/premium/thumb/website-error-401-authorization-required-illustration-download-in-svg-png-gif-file-formats--access-authentication-text-pack-miscellaneous-illustrations-1561836.png?f=webp" alt="401">
    </div>
    
</body>
</html>