<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 401</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-[100vh]  flex flex-col items-center justify-center">
        <a href="/" class="float-left m-[10px] text-[30px] text-[black]">Volver al inicio</a>
        <img class=" w-[50%] h-[70%]" src="https://i.imgflip.com/2a8g1r.jpg" alt="401">
    </div>
    
</body>
</html>