<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAIZ</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="flex flex-col gap-[30px] justify-center items-center w-full h-[100vh] bg-[#123456] text-[white]">
        <h1 class="text-[50px]">Flask Contacts-Login App</h1>
        <p class="text-[30px]">El mejor gestor de contactos que jamas podras tener</p>
        
        <button type="submit" class="w-[175px] h-[50px] border-[1px] bg-[#4bcd88] rounded-[10px] text-[20px] text-[black] border-[black]"><a href="/login">Entrar</a></button>
    </div>
    
</body>
</html>